<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<p th:unless="${events} and ${events.size()}">No events!</p>-->

<table class="table table-striped">
    <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    </tr>
    <tr th:each="event: ${events.entrySet()}" >
        <td th:text="${event.getKey()}"></td>
        <td th:text="${event.getValue()}"></td>
        <td th:replace="fragments :: address"></td>
    </tr>


<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Description</th>-->
<!--    </tr>-->


<!--    <tr th:each="event : ${events.keySet()}">-->
<!--        <td th:text="${event}"></td>-->
<!--    </tr>-->
<!--    <tr th:each="description : ${events.values()}">-->
<!--        <td th:text="${description}"></td>-->
<!--    </tr>-->
<!--    -->
<!--    <thead>-->
<!--        <tc>-->
<!--            <th>Name</th>-->
<!--        </tc>-->
<!--    </thead>-->
<!--    <tr th:each="event : ${events.keySet()}">-->
<!--        <td th:text="${event}"></td>-->
<!--    </tr>-->

<!--    <thead>-->
<!--        <tc>-->
<!--            <th>Description</th>-->
<!--        </tc>-->
<!--    </thead>-->
<!--    <tr th:each="description : ${events.values()}">-->
<!--        <td th:text="${description}"></td>-->
<!--    </tr>-->
</table>

</body>

</html>